<!DOCTYPE html>
<html>
{% load static %}

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible", content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Creating Poll</title>
	<link rel="stylesheet" type="text/css" href="{% static 'poll/css/forms.css' %}">
</head>
<body>
	<style type="text/css">
		.card form input, .card form select {
			border: 1px solid green;
		}
	</style>
	<main class="card">
		<form  method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{form}}
			<input type="submit" name="">

		</form>
	</main>

</body>
</html>