<!DOCTYPE html>

{% load static %}
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="students voting center">
    <meta name="description" content="voting center">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'poll/images/yashs.png' %}">
					<link rel="stylesheet" href="{% static 'poll/css/home.css' %}">
	<title>Vote | Home</title>
</head>


<body>
	{% if messages %}

	<div class="mas">
			{% for ms in messages %}
			<p>{{ms}}</p>
			{% endfor %}
		<div class="mas-container">
			<div class="close">OK</div>
		</div>
	</div>
	<script type="text/javascript">
		document.querySelector('.close').addEventListener('click', () => {
			document.querySelector('.mas').classList.add('display-mas');
			document.querySelector('.container').classList.add('remove-container');
		})

	</script>
	{% endif %}

		<div class="container">
		  <h1 class="type"><img src="{% static 'poll/images/yashs.png' %}">Students Voting Center</h1>
	      <a href="{% url 'messages' %}" class="messages">Messages</a>
		  
		  {% if request.user.is_superuser %}
	      <div class="admin"><img src="{% static 'poll/images/download.png' %}">Settings</div>
		  <nav id="navbar">
		  	<form class="card" method="POST">
		  		{% csrf_token %}
		  		{% if admin.start_vote == False %}
		  		<div>
		  		<input id='c1' type="checkbox" name="start_vote">
		  		<label for="c1">Start vote</label>
			  	</div>
			  	{% else %}
			  	<div>
		  		<input id='c1' type="checkbox" checked name="start_vote">
		  		<label for="c1">start vote</label>
			  	</div>
			  	{% endif %}
			  	
			  	{% if admin.registration_complete == False %}
			  	<div>
		  		<input id="c2" type="checkbox" name="registration_complete">
		  		<label for='c2'>registration_complete</label>
			  	</div>
			  	{% else %}
			  	<div>
		  		<input id="c2" type="checkbox" checked name="registration_complete">
		  		<label for='c2'>registration complete</label>
			  	</div>
			  	{% endif %}

			  	{% if admin.show_results == False %}
			  	<div>
		  		<input id='c3' type="checkbox" name="show_results">
		  		<label for="c3">show results</label>
			  	</div>
			  	{% else %}
			  	<div>
		  		<input id='c3' checked type="checkbox" name="show_results">
		  		<label for="c3">Show results</label>
			  	</div>
			  	{% endif %}
			  	<div><label for="display_info">Notice Board</label><input type="text" id="display_info" name="display_info" value="{{display_info}}"></div>
			  	<div><label for="contact">Contact</label><input type="text" id="contact" name="contact" value="{{contact_info}}"></div>

		  		<button type="submit">Save</button>

		  		<li><a href="/admin/" target="_blank">site administration</a></li>
		  		<li><a href="{% url 'create_poll' %}" rel="noopener noreferrer">add contestant</a></li>

		  	</form>
		  </nav>
		  {% else %}
		  <div class="admin"><img src="{% static 'poll/images/download.png' %}">Settings</div>
		  <nav id="navbar" style="pointer-events: unset;">
		  	<h3 style="color: yellow;">Administrators only</h3>
		  	<div class="card">
		  		
			  	<div>
		  		<input id='c1' readonly type="checkbox" checked name="start_vote">
		  		<label for="c1">start vote</label>
			  	</div>
			  	
			  	<div>
		  		<input id="c2" readonly type="checkbox" checked name="registration_complete">
		  		<label for='c2'>registration complete</label>
			  	</div>
			  	
			  	<div>
		  		<input id='c3' readonly type="checkbox" name="show_results">
		  		<label for="c3">show results</label>
			  	</div>
			  	
			  	<div><label  for="display_info">Notice Board</label><input readonly type="text" id="display_info" name="display_info" value="Teachers only!"></div>
			  	<div><label for="contact">Contact</label><input type="text" readonly id="contact" name="contact" value="Teachers only!"></div>

		  		<button type="submit">Save</button>

		  		<li><a href="#">site administration</a></li>
		  		<li><a href="#">add contestant</a></li>

		  	</div>
		  </nav>
		  {% endif %}
		     <ul class="ul">
	           <a href="{% url 'poll_results' %}" >Results</a>
	           <a href="{% url 'voters' %}" >Voters</a>
			   <a href="{% url 'about' %}">About</a>
		    </ul>
			<div class="link-c">
				{% if request.user.is_authenticated %}
				{% if request.user.is_superuser %}
			        <div class="img-box"><img src="{% static 'poll/images/anonymous-user.jpg' %}"></div>
				{% else %}
			        <div class="img-box"><img src="{{request.user.completeregistration.profile_picture.url}}"></div>
		        {% endif %}
				<div class="link-c2">
					<span class="link">Hello, {{request.user}}</span>
			        <a class="link link2" href="/logout_user/" style="color: orange">Logout</a>
				</div>	

				{% else %}
		        <div class="img-box"><img src="{% static 'poll/images/anonymous-user.jpg' %}" style="border-radius: 0"></div>
				<div class="link-c2">
					<span class="link">Hello user, click to</span>
			        <a class="link link2" href="/login_user/">Login or Register</a>
				</div>	
			
				{% endif %}
			</div>
			<h2 style="color: steelblue;">Notice Board:</h2>
			<li style="color: steelblue; line-height: 1.5">{{display_info}}. click the <a href="{% url 'about' %}">About</a> link for more.</li>
			<hr>
			<br>
			{% if position %}
			<h2 style="color: gray;">(Sections) Vote For:</h2>
			{% else %}
			<h2 style="color: gray;">No poll created yet!</h2>
			{% endif %}
			{% for p in position %}
			<h4 class="flex1">
				<style>
					.flex1 .a {
						width: 100%;
						flex: 1;
						margin: 0 8px;
					}
				</style>
				<a href="{% url 'vote' %}?q={{p.person_position}}" class="a">{{p.person_position}}</a>
				
				{% if request.user.is_superuser%}
				<a href="{% url 'delete_poll' %}?q={{p.person_position}}">Delete All</a>
				{% endif %}
			</h4>
			{% endfor %}


			<div class="img-logo">
				<img id="image1" src="{% static 'poll/images/yas.png' %}" alt="">
			</div>
		</div>
		<script type="text/javascript">
			const settings = document.querySelector('.admin');

			settings.addEventListener('click', () => {
				document.getElementById('navbar').classList.toggle('display-nav');
			})
		</script>

		<footer>
			<h4> <a href="{% url 'messages' %}">Report problem&nbsp;</a></h4>

			<h4><a href="https://isaac-portfolio.onrender.com">About developer</a></h4>
			<h1 style="font-weight: 50"><a href="">&copy; Copy right - 2023, All right reserve</a></h1>

		</footer>
</body>
</html>
