<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll | Students</title>
	<link rel="stylesheet" href="{% static 'poll/css/voters.css' %}">
</head>
<body>
  <main>
      
        {% if q %}
          <h2 class="type">{{q}}</h2>

        {% else %}
           {% if voters %}
          <h2 class="type">All students</h2>
           {% else %}
          <h2 class="type">No student have register yet</h2>
           {% endif %}
        {% endif %}

      <div class="t-box">
        <p>Filtered by students ranges</p>
        <ul>
          <a href="{% url 'voters' %}">All Students</a>
          {% for s in student_range %}
            <a href="{% url 'voters' %}?q={{s}}">{{s}}s</a>
          {% endfor %}
        </ul>
       <form method="GET" class='form'>
          <input type="search" placeholder="search name, year range, course or phone..." required name="q">
          <button>Search</button>
        </form>

      </div>
      <b>{{voters.count}} students available</b>
      <b class="home">Click to go: <a href="{% url 'poll_board' %}" >Vote Home</a></b>
      <b class="home">Click to go: <a href="{% url 'poll_results' %}" >Results Home</a></b>

      <hr>
      {% if all_users and request.user.is_superuser %}
      <form method="POST" id="form-submit">
         {% csrf_token %}
        <b class="a-btn btn-flex">{{all_users.count}}, registered users. <button class="a-btn" id="delete-btn">Delete All</button></b>
      </form>
      {% endif %}

        {% for p in voters %}
        <div class="student">
          {% if request.user.is_superuser%}
            
          <div class="ap-buttons">
              <a class="a-btn" href="{% url 'can_vote' p.id %}">Can Vote</a>
              {% if p.can_vote == True %}
              <span style="position: absolute; right: 5px; top: 0; font-size: 18px; color: green;">Yes</span>
              {% else %}
              <span style="position: absolute; right: 5px; top: 0; font-size: 18px; color: red;">No</span>
              {% endif %}
          </div>

          <div class="image-box">
                <img src="{{p.profile_picture.url}}" alt="image" class="image">
            </div>
            <div style="border-left: 5px solid steelblue; padding: 5px;">
                <h3 class="name">Name: <span class="names">{{p.relation}}</span></h3>
                <h4 class="name">Year range: <span class="names">{{p.student_range}}</span></h4>
                <h4 class="name">Course: <span class="names">{{p.your_course}}</span></h4>
                <h4 class="name">Phone num: <span class="names">{{p.phone_number}}</span></h4>
                {% if request.user.is_superuser %}
                <h3 style="color: steelblue;" class="name">Password: <span  class="names">{{p.relation.last_name}}</span></h3>
                {% endif %}
            </div>
  
          {% else %}
            

            <div class="image-box">
                <img src="{{p.profile_picture.url}}" alt="image" class="image">
            </div>
            <div style="border-left: 5px solid steelblue; padding: 5px;">
                <h3 class="name">Name: <span class="names">{{p.relation}}</span></h3>
                <h4 class="name">Year range: <span class="names">{{p.student_range}}</span></h4>
                <h4 class="name">Course: <span class="names">{{p.your_course}}</span></h4>
                {% if request.user == p.relation%}
                <h4 class="name">Phone num: <span class="names">{{p.phone_number}}</span></h4>
                {% else %}
                <h4 class="name">Phone num: <span class="names">{{phone_num}}</span></h4>

                {% endif %}
            </div>
          {% endif %}

        </div>

        {% endfor %}

  </main>

  <script type="text/javascript">
    let titleType = document.querySelector('.type').innerText;
    let names = document.querySelectorAll('.names');
    names.forEach(n => {
      if (n.innerText.toLowerCase().includes(titleType.toLowerCase())){
        n.style.color = 'green'
      }
    });
    {% if request.user.is_superuser %}
    document.getElementById('delete-btn').addEventListener('click', (e) => {
      ms = window.confirm("This will delete all the registered users")
      if (!ms) {
        e.preventDefault()
      } 
    });
    {% endif %}
  </script>
</body>
</html>