*{
			font-family: sans-serif;
		}
		 ul, .link-c, .link-c2, .type {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}
		.container {
			position: relative;
			max-width: 800px;
			margin: 0 auto;
			padding: 0 20px;
			box-shadow: 0 0 40px 0 rgba(133, 133, 133, 1);
		}
		.admin, .messages {
			position: absolute;
			top: 225px;
			background: hsl(200, 50%, 20%);
			padding: 7px;
			border-radius: 5px;
			color: #fff;
			cursor: pointer;
			z-index: 1000;
		}
		.admin {
			left: 0;
		}
		.messages {
			right: 20px; 
			text-decoration: none;
			padding: 10px;
		}
		.messages::after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: -2px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: violet;
			padding: 5px;
		}
		.admin img {
			width: 20px;
			height: 20px;
		}
		nav {
			position: absolute;
		    top: 265px;
			width: 195px;
			height: 0;
			opacity: 0;
			overflow: hidden;
			transition: .3s;
			z-index: 1000;
			background: #032;
			padding: 20px 8px;
			pointer-events: none;
		}
		.display-nav {
			opacity: 1;
			height: 400px;
			pointer-events: all;
		}
		.card div {
			margin: 15px 0;
			color: #ccc;
			font-size: 17px;
		}
		.card input[type='text'] {
			height: 20px;
			border-radius: 5px;
			padding: 5px;
			color: steelblue;
			font-size: 17px;
			width: 90%;
			border: 2px solid purple;
		}
		.card button {
			width: 80%;
			padding: 10px 0;
			border: none;
			background: blueviolet;
			color: #fff;
			border-radius: 8px;
			cursor: pointer;
		}
		.card li {
			margin-top: 10px;
			color: #fff;
		}
		.card li a {
			color: #fff;
			font-size: 17px;
		}
		.type {
			
			font-family: Georgia, 'Times New Roman', Times, serif;
			font-size: 35px;
			background-color: #032;
			padding: 20px 8px;
			margin-bottom: 50px;
			text-align: center;
			color: #fff;
			opacity: .6;
		}

		.ul {
			flex-direction: row;
			margin: 0 20px 0 0;
		}

		ul a {
			margin: 0 8px;
			margin-bottom: 20px;
			padding: 8px;
			text-decoration: none;
			color: #fff;
		}
		h4 {
			margin: 18px 0;
			display: flex;
			justify-content: space-between;
		}
		h4 a {
			text-decoration: none;
			background: purple;
			color: #fff;
			border-radius: 5px;
			padding: 10px;
			text-align: center;
		}

		.a {
			background: #12afa3;
			padding: 20px 10px;
		}
		.link-c {
			justify-content: flex-end;
			flex-direction: row;
			position: relative;
		}
		.link-c2 {
			align-items: flex-start;
			margin-top: -5px;
		}
		.link-c2 span {
/*			color: #fff; opacity: .7;*/
		    font-style: normal
		}
		.link {
			border-radius: 2px;
			color: #3f0882ba;
			font-style: italic;
			padding: 10px;
			text-decoration: none;
		}
		.link2 {
			background: blueviolet;
			margin-top: 3.5px;
			border-radius: 8px;
			color: #fff;
		}
		.ul {
			margin-left: -20px;
			margin-top: 120px;
		}
		.ul a {
			background: steelblue;
			border-radius: 5px;
		}
		.img-box {
			position: relative;
			width: 80px;
			height: 80px;
			background: #032;
			border-radius: 8px;
			margin-top: -10px;
			margin-right: 5px;
		}
		.img-box img {
			border-radius: 8px;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-position: center;
		}
		.img-box::before {
			content: "";
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background: lightgreen;
			padding: 5px;
			position: absolute;
			top: 0;
			right: 0;
		}
		@media(max-width: 330px){
			.admin, .messages {
				top: 260px;
			}
			.messages {
				right: -20px
			}
			nav {
				top: 300px;
			}
			
			
		}
		.flex1 {
			display: flex;
		}

		.img-logo {
				width: 100%;
				height: 700px;
				margin-top: 100px;
				position: relative;
			}
			.img-logo img {
				width: 100%;
				height: 100%;
				background-position: center;
				background-size: cover;
				object-fit:contain;
				position: absolute;
				transition: .5s;
			}

			footer {
				width: 100%;
				background: #032;
				padding: 10px 0;
				text-align: center;
				margin-top: 100px;
			}
			footer a {
				color: #fff;
			}