* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
  overflow-x: hidden;
}
.body {
  background: rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
}

.type {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  background-color: #123;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  color: #a1acfa;
}

.student, .form, ul,.btn-flex  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.t-box {
  border: 2px solid #032;
  margin: 5px;
}
.t-box p{
  text-align: center;
  color: #fa0;
  margin-bottom: -8px;
}

ul, .btn-flex {
  flex-direction: row;
  margin: 20px 0;
}
ul a {
  margin: 0 3px;
  text-decoration: none;
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  padding: 2px;
  font-size: 13px;
}

.form {
  flex-direction: row;
  justify-content: flex-end;
  margin: 5px;
  position: relative;
}

.form input {
  flex: 1;
  width: 80%;
  max-width: 300px;
  padding: 5px;
  border: 2px solid purple;
  border-radius: 15px;
  padding-right: 38px;
}

.form button {
  margin-left: -42px;
  background-color: steelblue;
  color: #fff;
  padding: 7px 0;
  border: none;
  cursor: pointer;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
ul a:hover {
  opacity: .4;
}

b {
  font-style: italic;
  color: steelblue;
  margin: 10px 0;
  display: block;
}

.student {
  position: relative;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
  max-width: 300px;
  width: 90%;
  margin: 55px auto
}

.image-box {
  margin: 30px auto;
  margin-top: 15px;
  width: 150px;
  height: 150px;
  position: relative;
  background-color: #304;
  padding: 5px;
}

.image-box img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  z-index: 10;
}

.name {
  border-bottom: 2px solid #fcc;
  margin: 5px 0;
}

.a-btn {
  z-index: 100;
  background-color: #302;
  text-decoration: none;
  padding: 8px 20px;
  margin: 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 3px 3px steelblue;
}
#delete-btn {
  cursor: pointer;
}
.btn-flex {
  justify-content: space-around;
  margin-top: 20px;
}